* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: url(../image/test01.png) no-repeat center center;
  background-size: cover;
}

.wrap::before {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 250px;
  background: url(../image/test03.png) no-repeat center center;
  background-size: contain;
  transition: all 0.8s;
  top: 0;
  bottom: -470px;
  margin: auto 0;
}

.rouletteWrap {
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 60px;
  width: 590px;
  height: 590px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../image/RouletteGif1.gif) no-repeat center center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transition: all 0.8s;
}

.rouletteWrap .roulette_pointer {
  content: "";
  display: block;
  position: absolute;
  width: 190px;
  height: 190px;
  background: url(../image/Roulette_pointer.svg) no-repeat center center;
  top: 170px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  cursor: pointer;
}

.rouletteWrap .roulette_pointer span {
  display: inline-block;
  width: 70px;
  position: absolute;
  bottom: 34px;
  left: 0;
  right: 0;
  margin: 0 auto;
  user-select: none;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 30px;
  color: #fff;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.8), 0 0 20px #f6e58d, 0 0 30px #f6e58d, 0 0 40px #f6e58d;
  animation: flashing 1s infinite;
}

@keyframes flashing {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.rouletteWrap .roulette_pointer .txt {
  width: 100px;
  bottom: 50px;
  animation: unset;
}

.rouletteBG {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background: url(../image/RouletteGif2.gif) no-repeat center center;
  background-size: cover;
  display: none;
}

.roulette_circle {
  width: 505px;
  height: 505px;
  position: relative;
  overflow: hidden;
}

.roulette_circle .roulette_circle_item {
  position: absolute;
  top: 0;
  left: 0;
  width: 252.5px;
  height: 100%;
  transform-origin: 100% 50%;
  overflow: hidden;
}

.roulette_circle .roulette_circle_item .roulette_circle_item_cir {
  width: 100%;
  height: 100%;
  background-color: blue;
  border-radius: 252.5px 0 0 252.5px;
  transform-origin: 100% 50%;
  position: relative;
}

.roulette_circle .roulette_circle_item .roulette_circle_item_cir span {
  position: absolute;
  bottom: 30px;
  right: 40px;
  font-size: 2rem;
  font-weight: bold;
  transform: rotate(-160deg);
  color: white;
}

.roulette_circle .roulette_circle_item:nth-of-type(3n + 1) .roulette_circle_item_cir {
  background-color: #38a0e7;
}

.roulette_circle .roulette_circle_item:nth-of-type(3n + 2) .roulette_circle_item_cir {
  background-color: #e65051;
}

.roulette_circle .roulette_circle_item:nth-of-type(3n + 3) .roulette_circle_item_cir {
  background-color: #2eae73;
}

.rouletteMsgWrap {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.rouletteMsgWrap .rouletteMsg {
  width: 650px;
  height: 650px;
  background: url(../image/test04.png) no-repeat center center;
  background-size: contain;
  position: relative;
}

.rouletteMsgWrap .rouletteMsg .rouleMsg_span {
  height: 200px;
  line-height: 200px;
  width: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.rouletteMsgWrap .rouletteMsg .rouleMsg_link {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 30%;
  margin: 0 auto;
  padding: 8px;
  border-style: inset;
  border: 2.5px solid white;
  border-radius: 30px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: #fc5000;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s ease;
  animation: linktxt 1s infinite linear;
  text-shadow: 0.5px 0.5px 1px #555454;
}

.rouletteMsgWrap .rouletteMsg .rouleMsg_link:hover {
  background-color: orange;
}

@keyframes linktxt {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

.rouletteMsgWrap .rouletteMsg .rouleMsg_cancel {
  background-color: rgba(66, 66, 66, 0.6);
  width: 50px;
  height: 50px;
  top: 0;
  right: 0;
  border: 2px solid white;
  border-radius: 100%;
  position: absolute;
  outline: none;
  cursor: pointer;
}

.rouletteMsgWrap .rouletteMsg .rouleMsg_cancel::before, .rouletteMsgWrap .rouletteMsg .rouleMsg_cancel::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 2px;
  background-color: white;
  transform-origin: center center;
}

.rouletteMsgWrap .rouletteMsg .rouleMsg_cancel::before {
  transform: rotate(45deg);
}

.rouletteMsgWrap .rouletteMsg .rouleMsg_cancel::after {
  transform: rotate(-45deg);
}

@media all and (max-width: 676px) {
  .wrap::before {
    width: 450px;
    height: 300px;
    bottom: -450px;
  }
  .rouletteWrap {
    width: 550px;
    height: 550px;
  }
  .rouletteWrap .roulette_pointer {
    width: 180px;
    height: 180px;
    top: 160px;
  }
  .rouletteWrap .roulette_pointer span {
    width: 70px;
    bottom: 32px;
    line-height: 26px;
    font-size: 1.5rem;
  }
  .rouletteWrap .roulette_pointer .txt {
    width: 100px;
    bottom: 45px;
  }
  .roulette_circle {
    width: 470px;
    height: 470px;
  }
  .roulette_circle .roulette_circle_item {
    width: 235px;
  }
  .roulette_circle .roulette_circle_item .roulette_circle_item_cir span {
    right: 35px;
    bottom: 35px;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_span {
    font-size: 2.5rem;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_link {
    bottom: 40px;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_cancel {
    right: 30px;
  }
}

@media all and (max-width: 576px) {
  .wrap::before {
    width: 400px;
    height: 300px;
    bottom: -400px;
  }
  .rouletteWrap {
    width: 500px;
    height: 500px;
  }
  .rouletteWrap .roulette_pointer {
    width: 160px;
    height: 160px;
    top: 145px;
  }
  .rouletteWrap .roulette_pointer span {
    width: 50px;
    bottom: 30px;
    font-size: 1.25rem;
    line-height: 23px;
  }
  .rouletteWrap .roulette_pointer .txt {
    width: 100px;
    bottom: 45px;
  }
  .roulette_circle {
    width: 425px;
    height: 425px;
  }
  .roulette_circle .roulette_circle_item {
    width: 212.5px;
  }
  .roulette_circle .roulette_circle_item .roulette_circle_item_cir {
    border-radius: 212.5px 0 0 212.5px;
  }
  .roulette_circle .roulette_circle_item .roulette_circle_item_cir span {
    font-size: 1.8rem;
    right: 30px;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_span {
    font-size: 2rem;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_link {
    bottom: 90px;
    padding: 5px;
    font-size: 1.5rem;
  }
}

@media all and (max-width: 499px) {
  .wrap::before {
    width: 350px;
    bottom: -300px;
  }
  .rouletteWrap {
    width: 400px;
    height: 400px;
  }
  .rouletteWrap .roulette_pointer {
    width: 140px;
    height: 140px;
    top: 110px;
  }
  .rouletteWrap .roulette_pointer span {
    width: 50px;
    bottom: 25px;
    font-size: 1.25rem;
  }
  .rouletteWrap .roulette_pointer .txt {
    width: 100px;
    bottom: 35px;
  }
  .roulette_circle {
    width: 341px;
    height: 341px;
  }
  .roulette_circle .roulette_circle_item {
    width: 170.5px;
  }
  .roulette_circle .roulette_circle_item .roulette_circle_item_cir {
    border-radius: 170.5px 0 0 170.5px;
  }
  .roulette_circle .roulette_circle_item .roulette_circle_item_cir span {
    font-size: 1.5rem;
    right: 25px;
    bottom: 25px;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_span {
    font-size: 1.875rem;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_link {
    bottom: 120px;
    font-size: 1.125rem;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_cancel {
    width: 40px;
    height: 40px;
    top: 80px;
    right: 30px;
  }
}

@media all and (max-width: 411px) {
  .wrap::before {
    width: 280px;
    bottom: -250px;
  }
  .rouletteWrap {
    width: 340px;
    height: 340px;
  }
  .rouletteWrap .roulette_pointer {
    width: 110px;
    height: 110px;
    top: 100px;
  }
  .rouletteWrap .roulette_pointer span {
    line-height: 18px;
    width: 40px;
    bottom: 18px;
    font-size: 1rem;
  }
  .rouletteWrap .roulette_pointer .txt {
    width: 100px;
    bottom: 27.5px;
  }
  .roulette_circle {
    width: 290px;
    height: 290px;
  }
  .roulette_circle .roulette_circle_item {
    width: 145px;
  }
  .roulette_circle .roulette_circle_item .roulette_circle_item_cir {
    border-radius: 145px 0 0 145px;
  }
  .roulette_circle .roulette_circle_item .roulette_circle_item_cir span {
    font-size: 1.25rem;
    right: 22.5px;
    bottom: 20px;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_span {
    font-size: 1.5rem;
  }
  .rouletteMsgWrap .rouletteMsg .rouleMsg_link {
    bottom: 160px;
    font-size: 1rem;
  }
}
/*# sourceMappingURL=animate04.css.map */